.content{
  font-size: 20px;
   h1{
    font-size: 28px;
    margin:8px 0;
    font-weight: 600;
  }
  h2{
    font-size: 24px;
    margin:8px 0;
    font-weight: 600;
  }
  code{
    border: 1px solid #ddd;
    background-color: #fff;
    color: #ff357f;
    margin: 0 2px;
  }
}